body{
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

p{
    margin: 20px;
    padding: 20px;
    font-size: x-large;
    color: white;
}

.content{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    
}